<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>LINK VOTING CONFIGURATION</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></link>
	</head>

	<body>
		<div class="container">
			<h1>LINK VOTING CONFIGURATION</h1>

			<table class="table">
				<thead>
					<tr>
						<th>Category Title</th>
						<th>Link</th>
					</tr>
					<tr>
						<td><input class="form control category-title-input"></td>
						<td><input class="form control link-input"></td>
						<td><button class="btn btn-primary add-category">Add</button></td>
					</tr>
				</thead>
				<tbody class="category-titles-list"></tbody>
			</table>
		</div>

		<script type="text/template" class="category-titles-list-template">
			<td><span class="category-title"><%= title %></span></td>
			<td><span class="link"><%= link %></span></td>
			<td><button class="btn btn-warning edit-category">Edit</button> <button class="btn btn-danger delete-category">Delete</button> <button class="btn btn-success update-category" style="display:none">Update</button> <button class="btn btn-danger cancel-category" style="display:none">Cancel</button>
			</td>
		</script>

		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="http://underscorejs.org/underscore-min.js"></script>
		<script src="http://backbonejs.org/backbone-min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.2.5/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>
		<script src="linkvoting.js"></script>
	</body>
</html>